<h style ="font-size:24px; text-align:center; margin-right: 39%;  "> ABOUT US </h>
<p style=" text-align: justify;" >
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle
  Hello this is Student's Circle</p>