<h1>Registrations Successfull</h1>
<p> A confirmation Mail have been sent to your email id, click the link to activate your account</p>
 <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
 <%= link_to "Sign in", new_session_path(resource_name) %>

