<%= form_for(@abc) do |f| %>
  <% if @abc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abc.errors.count, "error") %> prohibited this abc from being saved:</h2>

      <ul>
      <% @abc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
