 <div style="display:none">
 <iframe src="http://docs.google.com/gview?url=http://localhost:3000/<%= post.document.url %>&embedded=true" style=" height: 1039px; width: 1039px; margin-left: 5px;" frameborder="0"></iframe>
</div>